<app-header></app-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>🕋 Hajj & Omra Connect</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Bienvenue sur notre plateforme digitale dédiée à faciliter
      l’organisation et la gestion des pèlerinages.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>🎯 Notre mission</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>✔️ Simplifier les inscriptions</li>
        <li>✔️ Suivi des dossiers en temps réel</li>
        <li>✔️ Communication entre agences et pèlerins</li>
        <li>✔️ Sécurité et transparence</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>🤝 Notre engagement</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nous accompagnons chaque pèlerin avec sérieux et professionnalisme
      afin de garantir un voyage spirituel serein et organisé.
    </ion-card-content>
  </ion-card>
  <app-footer></app-footer>
</ion-content>


